set_io GPIO_io(0)   IO_0
set_io GPIO_io(1)   IO_1
set_io GPIO_io(2)   IO_2
set_io GPIO_io(3)   IO_3
set_io GPIO_io(4)   IO_4
set_io GPIO_io(5)   IO_5
set_io GPIO_io(6)   IO_6
set_io GPIO_io(7)   IO_7
set_io GPIO_io(8)   IO_8
set_io GPIO_io(9)   IO_9
set_io GPIO_io(10)  IO_10
set_io GPIO_io(11)  IO_11
set_io GPIO_io(12)  IO_12
set_io GPIO_io(13)  IO_13
set_io GPIO_io(14)  IO_14
set_io GPIO_io(15)  IO_15
set_io GPIO_io(16)  IO_16
set_io GPIO_io(17)  IO_17
set_io GPIO_io(18)  IO_18
set_io GPIO_io(19)  IO_19
set_io GPIO_io(20)  IO_20
set_io GPIO_io(21)  IO_21
set_io GPIO_io(22)  IO_22
set_io GPIO_io(23)  IO_23
set_io GPIO_io(24)  IO_24
set_io GPIO_io(25)  IO_25
set_io GPIO_io(26)  IO_26
set_io GPIO_io(27)  IO_27
set_io GPIO_io(28)  IO_28
set_io GPIO_io(29)  IO_29
set_io GPIO_io(30)  IO_30
set_io GPIO_io(31)  IO_31

