### vscode ++ ###

# ignore vscode/ dir and everything inside
/.vscode/*

# re-add this AFTER the settings.json is completely independent of HOST specific paths
#!.vscode/settings.json

# remove this AFTER the settings.json is completely independent of HOST specific paths
!/.vscode/settings.template.jsonc

# tasks for build/clean/...
!/.vscode/tasks.json

# debug/attach/...
!/.vscode/launch.json

# needed extensions for using this project
!/.vscode/extensions.json

# C/C++ intellisense configuration: defines/compiler args/...
!/.vscode/c_cpp_properties.json

# unused right now
#!/.vscode/*.code-snippets

# local history
/.history/

# built extensions
*/.vsix

# local file history
/.history
/.ionide
### vscode -- ###


### build artifacts ++ ###
# gcc build artifacts
/GCC_Project/output/

# gcc build generated db
/GCC_Project/compile_commands.json

# fpga build artifacts
/**/rtl/*.bin
/**/rtl/*_bit.h
/**/rtl/build
/**/rtl/Makefile.symbiflow
### build artifacts -- ###