set_io PWM_o(0)   IO_0
set_io PWM_o(1)   IO_1
set_io PWM_o(2)   IO_2
set_io PWM_o(3)   IO_3
set_io PWM_o(4)   IO_4
set_io PWM_o(5)   IO_5
set_io PWM_o(6)   IO_6
set_io PWM_o(7)   IO_7
set_io PWM_o(8)   IO_8
set_io PWM_o(9)   IO_9
set_io PWM_o(10)  IO_10
set_io PWM_o(11)  IO_11
set_io PWM_o(12)  IO_12
set_io PWM_o(13)  IO_13
set_io PWM_o(14)  IO_14
set_io PWM_o(15)  IO_15
set_io PWM_o(16)  IO_16
set_io PWM_o(17)  IO_17
set_io PWM_o(18)  IO_18
set_io PWM_o(19)  IO_19
set_io PWM_o(20)  IO_20
set_io PWM_o(21)  IO_21
set_io PWM_o(22)  IO_22
set_io PWM_o(23)  IO_23
set_io PWM_o(24)  IO_24
set_io PWM_o(25)  IO_25
set_io PWM_o(26)  IO_26
set_io PWM_o(27)  IO_27
set_io PWM_o(28)  IO_28
set_io PWM_o(29)  IO_29
set_io PWM_o(30)  IO_30
set_io PWM_o(31)  IO_31

